<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1><a href="https://github.com/VishargShah/vitae/tree/master/static/imgstatic/img/pgp.pdf">PGP in Data Science (IBM Certified)</a></h1>
            <span><a href="https://www.aegis.edu.in/programs.html">Aegis School of Data Science, Big Data and Business Analytics</a></span>
            <span><address>Mumbai, Maharashtra, India</address><time>2016 to 2017</time></span>
        </header>
        <p>
            <em>Capstone Project: <a href="https://github.com/VishargShah/Next_Word_Prediction">Next Word Prediction</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://github.com/VishargShah/vitae/tree/master/static/imgstatic/img/bachelors.jpg">Bachelor's in Electronics and Telecommunication</a></h1>
            <span>
		<a href="https://vcet.edu.in/">Vidyavardhini College of Engineering and Technology, Mumbai University</a></span>
            <span><address>Mumbai, Maharashtra, India</address><time>2011 to 2015</time></span>
        </header>
    </article>
</section>
