<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Associate Data Science Engineer</h1>
            <h2><a href="https://volansys.com/">Volansys Technologies</a></h2>
            <span><address>Ahmedabad, Gujarat, India</address><time>17 December 2018 - Present</time></span>
        </header>
        <p>Implementing Data Pre-processing and Wrangling, Machine Learning, Image Processing, CBIR and AI on top of IOT and Cloud,
           using Python with various frameworks and Flask web-service for UI. Worked with various,
           POC which will be further going to be implemented end to end.</p>
	<p>Clients: <a href="http://blooskai.strikingly.com/">Blooskai</a>, <a href="https://www.rheem.com/">Rheem</a></p>
    </article>
    <article>
        <header>
            <h1>Associate Data Analyst</h1>
	    <h2><a href="https://exponentiadata.com/">Exponentia Data Labs Pvt. Ltd.</a></h2>
            <span><address>Mumbai, Maharashtra, India</address><time>26 December 2017 - 7 December 2018</time></span>
        </header>
        <p>Worked on Statistical queuing process, Exploratory Data Analysis, Statistical Modelling, Time Series Forecasting,
	   Customer Segmentation and behaviour analyses, Image Classification, and various POC using Python and
           R for scripting with various frameworks,
           AWS Redshift Database, and QlikSense for dashboards.</p>
	<p>Clients: <a href="https://www.adani.com/">Adani Group</a>, <a href="https://atos.net/en/">Atos</a> -
	   <a href="https://www.iocl.com/">Indian Oil Corporation</a>,
	   <a href="https://www.sterlitepower.com/">Sterlite Power</a></p>
    </article>
    <article>
        <header>
            <h1>Analyst</h1>
	    <h2><a href="https://eclerx.com/">eClerx</a></h2>
            <span><address>Navi Mumbai, Maharashtra, India</address><time> 21 September 2017 - 22 December 2017 </time></span>
        </header>
        <p>Worked on Web Scraping, Ecommerce URL Classification / Document Classification using Python with Flask web-service,
	   which is integrated with Django. This is was for the ecommerce based comparision product made by the company.</p>
	<p>Product: eCube</p>
    </article>
    <article>
        <header>
            <h1>Intern - Artificial Intelligence</h1>
	    <h2><a href="http://kryptoblocks.io/#/">KryptoBlocks</a></h2>
            <span><address>Bangaluru, Karnataka, India</address><time>3 July 2017 - 31 August 2017</time></span>
        </header>
        <p>Worked on POC for inhouse product, which includes Face Detection, Face marking, Eye Blink count, Object Detection,
	   using Python with Flask web-service.</p>
    </article>
    <article>
        <header>
            <h1>Business Associate</h1>
	    <h2><a href="https://t.justdial.com/Mumbai/Hibernate-computers-Nalasopara-East/022PXX22-XX22-130108141924-Z2N5_BZDET">
                 Hibernate Computers</a></h2>
            <span><address>Mumbai, Maharashtra, India</address><time>10 November 2015 - 25 July 2016</time></span>
        </header>
        <p>Worked on computer hardwares assembling, CCTV fitting in apartments and companies and Computer Servicing.
	   Part of Sales, Marketing and accounts also.</p>
    </article>
</section>
