<section class="thirteen columns">
    <h1>MOOC Certification</h1>
    <article>
        <header>
            <h3><a href="https://drive.google.com/drive/folders/0B_uX8D0gpT-mX1JPSXEzeDdod3c">Introduction to R - DataCamp</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="https://drive.google.com/drive/folders/0B_uX8D0gpT-mX1JPSXEzeDdod3c">Machine Learning A-Z - Udemy</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="https://drive.google.com/open?id=0B_uX8D0gpT-mOEFYZlFUa09YY1E">Git Started with Github - Udemy</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="https://drive.google.com/drive/folders/0B_uX8D0gpT-mX1JPSXEzeDdod3c">Data Analytics - UpGrad</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="https://drive.google.com/drive/folders/0B_uX8D0gpT-mX1JPSXEzeDdod3c">SQL - SoloLearn</a></h3>
        </header>
    </article>
</section>
