<section class="thirteen columns">
    <h1>MOOC Certification</h1>
    <article>
        <header>
            <h3><a href="https://drive.google.com/file/d/1GO_zNKs0DVcXlpPeEz0YFYPvmpiIzdWq/view?usp=sharing">Introduction to R - DataCamp</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="https://drive.google.com/file/d/0B_uX8D0gpT-mT0ZneHNLOXU5Y28/view?usp=sharing">Machine Learning A-Z - Udemy</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="https://drive.google.com/file/d/0B_uX8D0gpT-mOEFYZlFUa09YY1E/view?usp=sharing">Git Started with Github - Udemy</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="https://drive.google.com/file/d/0B_uX8D0gpT-mY1RBUVc5ZzVIRGM/view?usp=sharing">Data Analytics - UpGrad</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="https://drive.google.com/file/d/0B_uX8D0gpT-meng2dVM3NXRyYmc/view?usp=sharing">SQL - SoloLearn</a></h3>
        </header>
    </article>
</section>
