<section class="thirteen columns">
    <h1>MOOC Certification</h1>
    <article>
        <header>
            <h3><a href="/static/img/statement_accomplishment.pdf">Introduction to R - DataCamp</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="/static/img/ml.pdf">Machine Learning A-Z - Udemy</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="/static/img/git.pdf">Git Started with Github - Udemy</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="/static/img/data_analytics.pdf">Data Analytics - UpGrad</a></h3>
        </header>
    </article>
    <article>
        <header>
            <h3><a href="/static/img/sql.jpg">SQL - SoloLearn</a></h3>
        </header>
    </article>
</section>
