<section class="thirteen columns">
    <h1>Technical Skills</h1>
    <article>
        <header>
            <h1>Data Science</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Data Wrangling</em>, <em>Data Visualization</em>, <em>Data Analysis</em> &amp; <em>Data Pre-processing</em></p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Statistics</em>, <em>Machine Learning</em>, <em>Deep Learning</em>, <em>AI</em>, <em>Computer Vision</em> &amp; 		    <em>NLP</em></p>  
    </article>
    <article>
        <header>
            <h1>Programming & Database</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Python</em> &amp; <em>R</em></p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Git</em>, <em>MySQL</em>, <em>AWS Redshift</em> &amp; <em>AWS S3 bucket</em></p>  
    </article>
    <article>
        <header>
            <h1>Modules & Frameworks</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>NumPy</em>, <em>Pandas</em>, <em>Scikit-learn</em>, <em>SciPy</em>, <em>ggplot2</em>, 
	    <em>Matplotlib</em>, <em>statsmodels</em> &amp; <em>other basic modules.</em></p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>OpenCV</em>, <em>Tensorflow</em>, <em>Keras</em>, <em>NLTK</em>, <em>Plotly</em> &amp; <em>Seaborn</em></p>
    </article>
    <article>
        <header>
            <h1>Visualization</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Power BI</em></p>
    </article>
</section>
